body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
}

header,
main {
  width: 800px;
  margin: 0 auto;
}

.main-menu {
  text-align: center;
  margin-bottom: 70px;
  padding: 0;
}

.main-menu-item {
  display: inline;
  border-bottom: 1px white solid;
  padding: 20px;
}

.main-menu-item a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.main-menu-item:hover {
  color: white;
  text-decoration: underline;
}

.main-content {
  background-color: #262626;
  padding: 30px;
}

.created-date {
  margin-bottom: 20px;
  color: gray;
  font-size: 16px;
}

.created-date time {
  padding: 10px;
}

p {
  line-height: 1.5;
}

.content-image-container {
  text-align: center;
  font-style: italic;
}

footer {
  background-color: #141414;
  color: white;
  text-align: center;
  height: 5vw;
  width: 100vw;
  line-height: 70px;
}
